*{
  box-sizing: border-box;
}
a{
  cursor: pointer;
}
body{
  color: #222;
}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header .username-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 53px;
  margin-bottom: 20px;

}




.username {
  margin-left: -51px;
  margin-bottom: -32px;
}

.Avatar-container{
 position: absolute;
 top: 15%;
 left: 41%;
 transform: translate(-50px,-50px);

}

.avatar {
  margin-left: -51px;
  margin-bottom: -45px; /* Add spacing between Avatar and username */
}


header .dark-modeplace{
  position: absolute;
  top: 0;
  left: 68%;
  margin-top: 100px;
}
.dark-mode-button{
  margin-bottom: auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  left: 890px;
}

header{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration:none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap: 24px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
  div.post{
      grid-template-columns: .9fr 1.1fr;
  }
}

@media screen and (min-width: 700px) {
  header .username-container{
      grid-template-columns: .9fr 1.1fr;
  }
}


div.post div.texts h2{
  margin:0;
  font-size: 2rem;
}
div.post div.texts a{
  text-decoration:none;
  color: inherit;
}
div.post p.info{
  margin:24px 0;
  color: #888;
  font-size:1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author{
  color:#333;
}
div.post p.summary{
  margin:10px 0;
  line-height: 1.8rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height:300px;
  display: flex;
  overflow:hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a{
  color:#333;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time{
  text-align: center;
  display: block;
  font-size:1rem;
  color:#aaa;
  margin: 10px 0;
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}
div.content p{
  line-height: 1.7rem;
  margin: 30px 0;
}
div.content li{
  margin-bottom: 10px;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
a svg{
  height:20px;
}

a.read-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}
/* src/App.css */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* In dark mode, set text color to blue within the comment box */
.dark-mode .comment-box .MuiInputBase-input {
  color: #fff; /* Your preferred text color in dark mode */
}

/* In dark mode, set text color to white for ListItemText */
/* In dark mode, set text color to white for ListItemText */
.dark-mode .MuiListItemText-secondary,
.dark-mode .MuiListItemText-primary {
  color: white !important; /* Your preferred text color in dark mode */
}
/* In dark mode, set border color to blue for TextField */
.dark-mode .MuiOutlinedInput-notchedOutline {
  border-color: blue; /* Your preferred border color in dark mode */
}

/* Optional: To change the border color when the TextField is focused */
.dark-mode .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: blue; /* Your preferred focused border color in dark mode */
}
/* In dark mode, set label color to white for TextField */
.dark-mode .MuiInputLabel-root {
  color: #ffffff9c; /* Your preferred label color in dark mode */
}
.dark-mode section {
  color: #fff; /* Your preferred text color in dark mode */
}
.dark-mode .card-body{
  background-color: #333;
}
.dark-mode .text-muted{
  color: #fff !important;
}
/* In dark mode, set color to white for file input */
.dark-mode input[type="file"].form-control {
  background-color: #333;
  color: #fff; /* Your preferred text color in dark mode */
}
.dark-mode .MuiDialogContent-root {
  background-color: #333 !important;
}

.dark-mode .MuiDialogTitle-root {
  background-color: #333 !important;
  color: #fff !important; /* Change the text color */
}
.dark-mode .MuiDialogContentText-root {
  color: #fff !important; /* Change the text color */
}
.dark-mode .MuiDialogActions-root {
  background-color: #333 !important;
}
.dark-mode .MuiInputBase-root {
  color: #fff !important; /* Change the text color */
  background-color: #333 !important; /* Change the background color */
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

